{% extends "app/layout/layout.html" %}

{% block content %}
{% load crispy_forms_tags %}

<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Company </h1>
    </div>
     {% for message in messages %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <p id="messages">{{message}}</p>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}
    <div class="row ">
        <div class="col cols-md-3 g-4">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title">My company</h2>
                    <p> Name: {{company.name}}</p>
                    <p> Address:{{company.address}}</p>
                    <p> Nif: {{company.nif}} </p>
                    <p> Phone: {{company.phone}}</p>
                    <a type="button" class="btn btn-sm btn-secondary" href="{% url 'edit_company' company.id %}">Edit</a>
                </div>
            </div>
        </div>
         <div class="col cols-md-3 g-4">
             <div class="card">
                <div class="card-body">
                    <div class="input-group">
                        <form action="" method="GET">
                            <div class="input-group mb-3">
                                {{monthForm.months_Year|as_crispy_field}}<br><br>
                              <div class="input-group-append">

                                <button class="btn btn-outline-secondary" type="submit">Buscar</button>
                              </div>
                            </div>
                        </form>
                    </div>
                    <h5> Total de horas de trabalho:  {{workHours}}</h5>
                    <table class="table table-striped table-sm">
                        <thead>
                        <tr>
                            <th>Check-in</th>
                            <th>Check-out</th>
                            <th>Horas de trabalho</th>
                        </tr>
                        </thead>
                        <tbody>
                            {% for timecard in timecards %}
                                <tr>
                                    <td>{{timecard.checkIn.timestamp|date:"h:i"}}</td>
                                    <td>{{timecard.checkOut.timestamp|date:"h:i"}}</td>
                                    <td>{{timecard.timeWork}}</td>
                               </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>

        </div>

    </div>
</main>
{% endblock content %}